name: 

on:
  schedule:
    - cron: '0 6-9 * * 1,4'
    - cron: '0 6-8 * * 2,5'
    - cron: '0 3-4 * * 3'
    - cron: '0 8-10 * * 3'
    - cron: '0 2-4 * * 6'
    - cron: '0 5 * * *'

jobs:
  auto_commit:
    name: 'Auto push a commit to my repo'
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
    - name: Create sample file with just timestamp
      run: date +%s >> .txt
    - name: Commit file
      run: |
          git config --global user.name ''
          git config --global user.email '2561973@users.noreply.github.com'
          git add .
          git commit -m 
          git push
