name: 

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6-9 * * 1,4'
    - cron: '0 6-8 * * 2,5'
    - cron: '0 3-4 * * 3'
    - cron: '0 8-10 * * 3'
    - cron: '0 2-4 * * 6'
    - cron: '0 5 * * *'

jobs:
  commit:
    name: 
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@main
    - run: |
          git config --global user.name ''
          git config --global user.email '2561973+dnhn@users.noreply.github.com'
          date +%s >> .txt
          git add .
          git commit -m 
          git push
